.box{
    width: 100px;
    height: 100px;
    background-color: burlywood;
}

.Ifbox{
    width: 100px;
    height: 100px;
    background-color: brown;
}

.ElseBox{
    width: 100px;
    height: 100px;
    background-color: blue;}