.title{
    background-color: bisque;   
    padding-left:500px; 
}
.thumbnail{
    background-color: coral;
    float:left;  
    height: 100px;
    padding-right:121px;
}

.description{
    background-color: darkgoldenrod;
    height: 100px;
    width: 80%;
    float: right;
    position: relative;   
}