<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
 </div>

 <div>
   Single Page Application
   <br>
   <a routerLink="family">Family</a> &nbsp;
   <a routerLink="review">Review</a> &nbsp;
   <a routerLink="directive">Directives</a> &nbsp;
   <a routerLink="pipe">Pipe</a> &nbsp;
   <a routerLink="consume">Consume</a>
   <br>
   <router-outlet></router-outlet>
 </div>
<hr>
<!--<div>
  Working with parent and child components
  <hr>
  <div>
  <app-family></app-family>
</div>
<hr>
<div>
  Working with Review Component
  <hr>
  <div>
  <app-review></app-review>
</div>
<hr>
  Working with Directive Components:
  <div> 
     <hr>
    Examples of directives
    <ol>
      <li>*ngFor</li>
      <li>*ngIf</li>
      <li>*ngSwitch</li>
    </ol>
<hr>
    <app-directive></app-directive>  
  </div>
</div>

<router-outlet></router-outlet>-->
