<div>
  Template Form:
  <br>
  <br>
  <form #hobbyForm="ngForm" (ngSubmit)="submitDetail(hobbyForm)">

    <label>Name: </label>
    <input type="text" name="fname" [(ngModel)]="fullname" required pattern="[a-zA-Z]{4,65}"> {{fullname}}
    <span  [ngStyle]="{color:hobbyForm.controls.fname.invalid?'red':'white'}" >Minimum length is 3.Max is 65,Only alphabets allowed</span>
    <br>    
    <label>Age: </label>
    <input type="number" name="a" [(ngModel)]="age" required> {{age}}
    <span  [ngStyle]="{color:hobbyForm.controls.a.invalid?'red':'white'}" >Age should be in Number</span>
    <br> 
    <label>Hobby: </label>
     <select name="h" [(ngModel)]="hobby">  
       <option value="hacking">Hacking</option>
       <option value="driving">Driving</option>
       <option value="trekking">Trekking</option>      
     </select>
     {{hobby}}
     <br>    
     <!--disabled and autofocus are self boolean attribute means we cannot set it to true or false-->
    <button type="submit" [disabled]="hobbyForm.invalid">Submit</button> 
  </form>
</div>